<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ecom</title>
</head>
<body>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endif %}
    {% endwith %}
    {% block menu %}
    <ul>
        <li><a href="{{ url_for('main.index')}}">Main</a></li>
        <li><a href="{{ url_for('main.edit')}}">Collection Edit</a></li>
        <li><a href="{{ url_for('main.view')}}">Collection View</a></li>
        <li><a href="{{ url_for('main.test')}}">Test</a></li>
    </ul>
    {% endblock %}
    {% block content %}

    {% endblock %}
</body>
</html>