{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <hr>
    Test collection
    <hr>
    {% if form %}
        <form action="/api/get_form" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.field1_name.label }}<br>
                {{ form.field1_name(cols=32, rows=4)}}<br>
                {{ form.field1_value.label }}<br>
                {% for error in form.field1_value.errors %}
                    <span color="red">[{{ error }}]</span>
                {% endfor %}<br>
                {{ form.field1_value(cols=32, rows=4)}}<br>
                {{ form.field2_name.label }}<br>
                {{ form.field2_name(cols=32, rows=4)}}<br>
                {{ form.field2_value.label }}<br>
                {% for error in form.field2_value.errors %}
                    <span color="red">[{{ error }}]</span>
                {% endfor %}<br>
                {{ form.field2_value(cols=32, rows=4)}}<br>

            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}